<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <a routerLink="/home"><h1 class="title">Kwetter</h1></a>
          <h2 class="subtitle">JEA6a</h2>
        </div>
        <div class="column is-7">
          <!-- START TABS -->
          <div class="tabs is-centered is-toggle" *ngIf="profileName">
            <ul>
              <li><a routerLink="/profile/{{profileName}}/kweets">Kweets<strong>1337</strong></a></li>
              <li><a routerLink="/profile/{{profileName}}/kweets-and-replies">And replies</a></li>
              <li><a routerLink="/profile/{{profileName}}/kweets-with-media">With media</a></li>
              <li><a routerLink="/profile/{{profileName}}/following">Following<strong>69</strong></a></li>
              <li><a routerLink="/profile/{{profileName}}/followers">Followers<strong>6.9k</strong></a></li>
              <li><a routerLink="/profile/{{profileName}}/likes">Likes<strong>420</strong></a></li>
            </ul>
          </div>
          <!-- END TABS -->
        </div>
        <div class="column">
          <button class="button is-large is-primary" id="compose-button">
                <span class="icon">
                  <i class="far fa-edit"></i>
                </span>
            <a routerLink="/compose"><span>Kweet</span></a>
          </button>
            <div class="field is-grouped is-grouped-right">
                <a class="button is-success" (click)="logout()"><span>Logout</span></a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
