<div class="card" id="user-card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <figure class="image is-64x64">
            <img src={{profilePicUrl}} alt="Profile picture" />
          </figure>
        </a>
      </div>
      <div class="media-content">
        <a routerLink="/profile/{{username}}">
        <h5 class="title is-5">
            {{fullName}}
        </h5>
        </a>
        <h6 class="subtitle is-6">
          <a routerLink="/profile/{{username}}">
            @{{username}}
          </a>
        </h6>
      </div>
    </div>
    <nav class="level is-mobile">
      <div class="level-item has-text-centered">
        <a href="#">
          <p class="heading">Kweets</p>
          <p class="title has-text-primary">1337</p>
        </a>
      </div>
      <div class="level-item has-text-centered">
        <a href="#">
          <p class="heading">Following</p>
          <p class="title has-text-primary">69</p>
        </a>
      </div>
      <div class="level-item has-text-centered">
        <a href="#">
          <p class="heading">Followers</p>
          <p class="title has-text-primary">6.9k</p>
        </a>
      </div>
    </nav>
  </div>
</div>
