<app-header></app-header>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3">

        <!-- START PROFILE CARD -->
        <app-profilecard></app-profilecard>
        <!-- END PROFILE CARD -->

      </div>
      <div class="column is-7" id="content-column">

        <!-- START KWEET CARDS -->
        <div *ngFor="let post of timeline">
          <app-post [post] = post></app-post>
        </div>
        <br>
        <button class="level-item button is-primary is-outlined is-pulled-right" (click)="loadMore()">LOAD MORE</button>
        <!-- END KWEET CARDS -->

      </div>
    </div>
  </div>
</section>
