<app-header></app-header>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter" id="content-column">
        <div class="card">
          <div class="card-content">
            <div class="field">
              <div class="control">
                <textarea class="textarea" rows="2" placeholder="Wat is er aan het handje?" #kweetText></textarea>
              </div>
            </div>
            <nav class="level">
              <div class="level-left">
                <a class="level-item has-text-primary" href="#">
                    <span class="icon is-small">
                      <i class="fas fa-file-image"></i>
                    </span>
                  <small>Add media</small>
                </a>
                <a class="level-item has-text-primary" href="#">
                    <span class="icon is-small">
                      <i class="fas fa-quote-right"></i>
                    </span>
                  <small>Add quote</small>
                </a>
              </div>
              <div class="level-right">
                <button class="level-item button is-primary is-outlined" (click)="kweet(kweetText.value)">Kweet!</button>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
