<app-header></app-header>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter" id="content-column">
        <!-- START REPLY ROOT -->
        <div *ngIf="allDataLoaded === true">
          <app-post [post] = post></app-post>
        </div>
        <!-- END REPLY ROOT -->
        <!-- START REPLIES -->
        <div class="card" data-thread="1234">
          <div class="card-content">
            <article class="media">
              <div class="media-left">
                <a href="#">
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Profile picture" />
                  </figure>
                </a>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#"><strong>Dennis Koeter</strong></a>
                    <small>
                      <a href="#">@DenizNavidad</a>
                      &#x2022; 42m
                    </small>
                    <br />
                    Preach!! &lt;3
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item has-text-primary" aria-label="reply" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-reply"></i>
                          </span>
                      <small>7</small>
                    </a>
                    <a class="level-item has-text-primary" aria-label="rekweet" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-retweet"></i>
                          </span>
                      <small>8</small>
                    </a>
                    <a class="level-item has-text-primary" aria-label="like" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-heart"></i>
                          </span>
                      <small>9</small>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
        <div class="card" data-thread="1234">
          <div class="card-content">
            <article class="media">
              <div class="media-left">
                <a href="#">
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Profile picture" />
                  </figure>
                </a>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#"><strong>Thijs Koppen</strong></a>
                    <small>
                      <a href="#">@Thijsiez</a>
                      &#x2022; 3m
                    </small>
                    <br />
                    Zeker preach! ^^
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item has-text-primary" aria-label="reply" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-reply"></i>
                          </span>
                      <small>7</small>
                    </a>
                    <a class="level-item has-text-primary" aria-label="rekweet" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-retweet"></i>
                          </span>
                      <small>8</small>
                    </a>
                    <a class="level-item has-text-primary" aria-label="like" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-heart"></i>
                          </span>
                      <small>9</small>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
        <div class="card" data-thread="1337">
          <div class="card-content">
            <article class="media">
              <div class="media-left">
                <a href="#">
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Profile picture" />
                  </figure>
                </a>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#"><strong>Stanley SB</strong></a>
                    <small>
                      <a href="#">@FoxStevenson</a>
                      &#x2022; 13m
                    </small>
                    <br />
                    Are you coming with the camera??
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item has-text-primary" aria-label="reply" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-reply"></i>
                          </span>
                      <small>6</small>
                    </a>
                    <a class="level-item has-text-primary" aria-label="rekweet" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-retweet"></i>
                          </span>
                      <small>5</small>
                    </a>
                    <a class="level-item has-text-primary" aria-label="like" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-heart"></i>
                          </span>
                      <small>4</small>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
        <div class="card" data-thread="1337">
          <div class="card-content">
            <article class="media">
              <div class="media-left">
                <a href="#">
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Profile picture" />
                  </figure>
                </a>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#"><strong>Thijs Koppen</strong></a>
                    <small>
                      <a href="#">@Thijsiez</a>
                      &#x2022; 9m
                    </small>
                    <br />
                    Yessss, definitely!! :)
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item has-text-primary" aria-label="reply" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-reply"></i>
                          </span>
                      <small></small>
                    </a>
                    <a class="level-item has-text-primary" aria-label="rekweet" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-retweet"></i>
                          </span>
                      <small></small>
                    </a>
                    <a class="level-item has-text-primary" aria-label="like" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-heart"></i>
                          </span>
                      <small></small>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
        <div class="card" data-thread="1337">
          <div class="card-content">
            <article class="media">
              <div class="media-left">
                <a href="#">
                  <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="Profile picture" />
                  </figure>
                </a>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <a href="#"><strong>Stanley SB</strong></a>
                    <small>
                      <a href="#">@FoxStevenson</a>
                      &#x2022; 2m
                    </small>
                    <br />
                    Awesome dude, lets make some shots! :D
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item has-text-primary" aria-label="reply" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-reply"></i>
                          </span>
                      <small></small>
                    </a>
                    <a class="level-item has-text-primary" aria-label="rekweet" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-retweet"></i>
                          </span>
                      <small></small>
                    </a>
                    <a class="level-item has-text-primary" aria-label="like" href="#">
                          <span class="icon is-small">
                            <i class="fas fa-heart"></i>
                          </span>
                      <small></small>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
        <!-- END REPLIES -->
      </div>
    </div>
  </div>
</section>
