<app-header></app-header>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-one-third">
        <div class="card is-primary">
          <form class="card-content">
            <div class="field">
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Username" #username>
                <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
              </div>
            </div>
            <div class="field">
              <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
              </p>
            </div>
            <div class="field is-grouped is-grouped-right">
              <p class="control">
                <a class="button is-success" (click)="login(username.value)">Login</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
