<div class="card">
  <div class="card-content">
    <article class="media">
      <div class="media-left">
        <a href="#">
          <figure class="image is-64x64">
            <img src={{profilepicture}} alt="Profile picture" />
          </figure>
        </a>
      </div>
      <div class="media-content">
        <div class="content">

          <!-- START OPTIONAL REKWEET -->
          <div *ngIf="type==='rekweet'">
            <span class="tag is-primary is-pulled-right">
              <span class="icon is-small">
                <i class="fas fa-retweet"></i>
              </span>
              <a routerLink="/profile/{{rekweetinguser}}"><small>{{rekweetinguser}} rekweeted</small></a>
            </span>
          </div>
          <!-- END OPTIONAL REKWEET -->


          <!-- START OPTIONAL LIKE -->
          <div *ngIf="type==='like'">
            <span class="tag is-primary is-pulled-right">
              <span class="icon is-small">
                <i class="fas fa-heart"></i>
              </span>
              <a routerLink="/profile/{{likinguser}}"><small>{{likinguser}} liked</small></a>
            </span>
          </div>
          <!-- END OPTIONAL LIKE -->

          <p>
            <a routerLink="/profile/{{username}}"><strong>{{fullname}} </strong></a>
            <small>
              <a routerLink="/profile/{{username}}">@{{username}}</a>
              &#x2022; <a routerLink="/post/{{postid}}">{{time}}</a>
            </small>
            <br />
            {{content}}
          </p>

          <!-- START OPTIONAL MEDIA -->
          <div *ngIf="media.length > 0">
            <div *ngFor="let image of media">
              <figure class="image"><!-- TODO attach a modal view -->
                <img src={{image}} alt="Kweeted media" />
              </figure>
            </div>
          </div>
          <!-- END OPTIONAL MEDIA -->

          <!-- START OPTIONAL QUOTE -->
          <div *ngFor="let quote of quotes">
            <div class="card">
              <div class="card-content">
                <div class="content">
                  <p>
                    <a routerLink="/profile/{{quote.user.username}}"><strong>{{quote.user.fullName}} </strong></a>
                    <small>
                      <a routerLink="/profile/{{quote.user.username}}">@{{quote.user.username}}</a>
                      &#x2022; <a routerLink="/post/{{quote.kweetId}}">{{quote.timestamp}}</a>
                    </small>
                    <br />
                    {{quote.content}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- END OPTIONAL QUOTE -->

        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <a class="level-item has-text-primary" aria-label="reply">
                          <span class="icon is-small">
                            <i class="fas fa-reply"></i>
                          </span>
              <small>13</small>
            </a>
            <a class="level-item has-text-primary" aria-label="rekweet" (click)="rekweet()">
                          <span class="icon is-small">
                            <i class="fas fa-retweet"></i>
                          </span>
              <small>3</small>
            </a>
            <a class="level-item has-text-primary" aria-label="like" (click)="like()">
                          <span class="icon is-small">
                            <i class="fas fa-heart"></i>
                          </span>
              <small>7</small>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>
</div>
