<div class="card" id="user-profile">
  <div class="card-image">
    <figure class="image is-1by1">
      <img src={{profilePicUrl}} alt="Profile picture"/>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <a routerLink="/profile/{{username}}">
          <h5 class="title is-5">
            {{fullName}}
          </h5>
        </a>
        <h6 class="subtitle is-6">
          <a routerLink="/profile/{{username}}">
            @{{username}}
          </a>
          <span class="tag is-light is-pulled-right">
                        Joined {{joinDate}}
                      </span>
        </h6>
      </div>
    </div>
    <div class="content has-text-grey-light">
      {{biography}}
    </div>
  </div>
</div>
