a { color: inherit; }
textarea { resize: none !important; }

/* Voor alle pagina's */
#content-column.column { margin-top: -96px; }
span.icon + small { min-width: 36px; margin-left: 12px; }
.is-1by1 > img, .is-64x64 > img, .is-48x48 > img { object-fit: cover; height: 100% !important; }

/* Homepage */
#user-card.card .media + nav { margin-top: 24px; }

/* Profile */
.tabs > ul > li > a > strong { margin-left: 12px; }
.follow-card { flex: none; width: 50%; padding: .75rem; float: left !important; }
.follow-card .media + p { line-height: 1.5em; height: 4.5em; overflow: hidden; }

/* Threads */
